/*INDEX*/
/* *{
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: black;
}

/*HEADER

.logo{
    width: 60px;
    height: 60px;
}

.menu{
    flex-grow: 0;
}

.menu-nav{
    gap: 40px;
    font-family: "Alice";
    font-style: none;
}

.titulo-link{
    color: black;
    font-size: 1rem;
}

.navbar{
    padding: 0px;
    height: 4.5rem;
    width: 100%;
}

/*MAIN

.prop-main{
    background-color: rgb(241, 241, 241);
}

.cont-principal{
    width: 100%;
    height: 650px;
    background: url(../img/imagen\ principal.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.cont-principal_texto{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size:  1.5rem;
    font-style: italic;
}*/


/*RECIENTES-INICIO*/

/* .titulo-recientes{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Alice';
    margin-top: 100px;
}

.propiedades-recientes{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.propiedades-recientes_casa{
    width: 300px;
    height: 360px;
    border: 1.5px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.propiedades-recientes_dpto{
    width: 300px;
    height: 360px;
    border: 1.5px;
    border-style: solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.propiedades-recientes_quinta{
    width: 300px;
    height: 360px;
    border: 1.5px;
    border-style: solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
} */

.propiedades-recientes_prop-inicio{
    width: 298px;
    height: 200px;
    border-radius: 10px;
}

.propiedades-recientes_caract-recientes{
    width: 100%;
    font-size: 1rem;
    font-family: 'Alice';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.propiedades-recientes_ambientes-recientes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.propiedades-recientes_icono-habitacion{
    width: 32px;
    height: 32px;
}

.propiedades-recientes_icono-baño{
    width: 30px;
    height: 30px;
}

.propiedades-recientes_icono-garage{
    width: 28px;
    height: 28px;
}

/*DIVISION*/

.division-inicio{
    height: 0.75px;
    background-color: black;
    border-color: black;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

/*NOSOTROS-INICIO*/


.seccion-nosotros{
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
}

.seccion-nosotros_cont-imagen{
    display: flex;
    align-items: center;
}

.seccion-nosotros_imagen{
    width: 450px;
    height: 350px;
    border-radius: 15px;
}

.seccion-nosotros_titulo-boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.seccion-nosotros_titulo{
    font-size: 1.4rem;
    font-family: 'Alice';
}

.seccion-nosotros_boton{
    display: flex;
    justify-content: center;
}

.seccion-nosotros_boton-sumate{
    border-radius: 3px;
    font-family: 'Alice';
    width: 80px;
    height: 30px;
    background-color: #eb9782;
}

/*FOOTER*/

.cont-footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #eb9782;
}

.cont-footer_barra-nav{
    font-size: 1.5rem;
    font-family: 'Alice';
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal-direccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal{
    font-size: 1.5rem;
    font-family: 'Alice';
}

.cont-footer_direccion{
    font-family: "Alice";
    font-size: 1.2rem;
}

.cont-footer_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_titulo-contacto{
    font-size: 1.438rem;
    font-family: 'Alice';
}

.cont-footer_whatsapp-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cont-footer_whatsapp{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_mail{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_redes-sociales{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12.5px;
}

.logo-instagram-footer{
    width: 39px;    
    height: 39px;
}

.logo-facebook-footer{
    width: 39px;    
    height: 39px;
}



/*Media Queries -Mobile-*/

@media (max-width: 768px){

/*HEADER*/

    .header-nav-bar{
    width: 768px;
    }

    .navbar{
        padding: 0px;
    }

    .container-fluid{
        padding: 0;
    }

    .logo{
        width: 60px;
        height: 60px;
    }

    .hambur-boton{
        background-color: #eb9782;
    }
    
    .menu{
        flex-grow: 0;
    }
    
    .menu-nav{
        gap: 2px;
        font-family: "Alice";
        font-style: none;
        text-align: center;
        background-color: white;
        width: 768px;
    }
    
    .titulo-link{
        color: black;
        font-size: 1rem;
    }

    /*MAIN*/

    .prop-main{
        background-color: rgb(241, 241, 241);
        width: 768px;
    }

    .cont-principal{
        width: 100%;
        height: 850px;
        background: url(../img/imagen\ principal.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    .cont-principal_texto{
        color: white;
        text-align: center;
        margin-top: 100px;
    }

    h1{
        font-size: 3rem;
        font-style: italic;
    }

    /*RECIENTES-INICIO*/

    .titulo-recientes{
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        font-family: 'Alice';
        margin-top: 50px;
    }

    .propiedades-recientes{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .propiedades-recientes_casa{
        border: 1.5px;
        border-style: solid;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .propiedades-recientes_dpto{
        border: 1.5px;
        border-style: solid;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .propiedades-recientes_quinta{
        border: 1.5px;
        border-style: solid;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .propiedades-recientes_prop-inicio{
        width: 298px;
        height: 150px;
        border-radius: 10px;
    }

    .propiedades-recientes_caract-recientes{
        font-size: 1rem;
        font-family: 'Alice';
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .propiedades-recientes_ambientes-recientes{
        display: flex;
        justify-content: space-evenly;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .propiedades-recientes_icono-habitacion{
        width: 26px;
        height: 26px;
    }

    .propiedades-recientes_icono-baño{
        width: 24px;
        height: 24px;
    }

    .propiedades-recientes_icono-garage{
        width: 22px;
        height: 22px;
    }

    /*DIVISION*/

    .division-inicio{
        height: 0.75px;
        background-color: black;
        border-color: black;
        border-radius: 10px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
    }

    /*NOSOTROS-INICIO*/

    .seccion-nosotros{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
    }

    .seccion-nosotros_imagen{
        display: none;
    }

    .seccion-nosotros_titulo-boton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .seccion-nosotros_titulo{
        font-size: 2.1rem;
        font-family: 'Alice';
    }

    .seccion-nosotros_boton{
        display: flex;
        justify-content: center;
    }

    .seccion-nosotros_boton-sumate{
        border-radius:  15px;
        font-family: 'Alice';
        width: 100px;
        height: 40px;
        background-color: #eb9782;
    }

    /*FOOTER*/

    .cont-footer{
        width: 768px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #eb9782;
        gap: 20px;
    }

    .cont-footer_barra-nav{
        display: none;
    }

    .cont-footer_sucursal-direccion{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_sucursal{
        font-size: 1.5rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_direccion{
        font-family: "Alice";
        font-size: 1.2rem;
    }

    .cont-footer_contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_titulo-contacto{
        font-size: 1.438rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_whatsapp-mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .cont-footer_whatsapp{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_mail{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_redes-sociales{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 12.5px;
    }

    .logo-instagram-footer{
        width: 39px;    
        height: 39px;
    }

    .logo-facebook-footer{
        width: 39px;    
        height: 39px;
    }

}

/*Servicios*/

*{
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/*HEADER*/

.logo{
    width: 60px;
    height: 60px;
}

.menu{
    flex-grow: 0;
}

.menu-nav{
    gap: 40px;
    font-family: "Alice";
    font-style: none;
}

.titulo-link{
    color: black;
    font-size: 1rem;
}

.navbar{
    padding: 0px;
    height: 4.5rem;
    width: 100%;
}

/*MAIN*/

.cont-principal{
    width: 100%;
    height: 650px;
    background: url(../img/imagen\ principal.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.cont-principal_texto{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
    font-style: italic;
}

/*Servicios*/

.servicios_titulo{
    padding-top: 5rem;
    padding-bottom: 3.5rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    font-family: 'Alice';
}

.servicios{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.servicios_subtitulos-parrafos{
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.servicios_subtitulos{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Alice';
}

.servicios_parrafos{
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Alice';
}


/*FOOTER*/

.cont-footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #eb9782;
}

.cont-footer_barra-nav{
    font-size: 1.5rem;
    font-family: 'Alice';
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal-direccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal{
    font-size: 1.5rem;
    font-family: 'Alice';
}

.cont-footer_direccion{
    font-family: "Alice";
    font-size: 1.2rem;
}

.cont-footer_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_titulo-contacto{
    font-size: 1.438rem;
    font-family: 'Alice';
}

.cont-footer_whatsapp-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cont-footer_whatsapp{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_mail{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_redes-sociales{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12.5px;
}

.logo-instagram-footer{
    width: 39px;    
    height: 39px;
}

.logo-facebook-footer{
    width: 39px;    
    height: 39px;
}



/*Media Queries -Mobile-*/

@media (max-width: 768px){

/*HEADER*/

.header-nav-bar{
    width: 768px;
    }

    .navbar{
        padding: 0px;
    }

    .container-fluid{
        padding: 0;
    }

    .logo{
        width: 60px;
        height: 60px;
    }

    .hambur-boton{
        background-color: #eb9782;
    }
    
    .menu{
        flex-grow: 0;
    }
    
    .menu-nav{
        gap: 2px;
        font-family: "Alice";
        font-style: none;
        text-align: center;
        background-color: white;
        width: 768px;
    }
    
    .titulo-link{
        color: black;
        font-size: 1rem;
    }

    /*MAIN*/

    .prop-main{
        background-color: rgb(241, 241, 241);
        width: 768px;
    }

    .cont-principal{
        width: 768px;
        height: 850px;
        background: url(../img/imagen\ principal.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    .cont-principal_texto{
        color: white;
        text-align: center;
        margin-top: 100px;
    }

    h1{
        font-size: 3rem;
        font-style: italic;
    }

    /*Servicios*/

    .servicios_titulo{
        padding-top: 5rem;
        padding-bottom: 3.5rem;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        text-decoration: underline;
        font-family: 'Alice';
    }

    .servicios{
        width: 768px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;
    }

    .servicios_subtitulos-parrafos{
        width: 720px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .servicios_subtitulos{
        font-size: 1.5rem;
        text-align: center;
        font-family: 'Alice';
        font-weight: 500;
    }

    .servicios_parrafos{
        font-size: 1rem;
        text-align: center;
        font-family: 'Alice';
    }

    /*FOOTER*/

    .cont-footer{
        width: 768px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #eb9782;
        gap: 20px;
    }

    .cont-footer_barra-nav{
        display: none;
    }

    .cont-footer_sucursal-direccion{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_sucursal{
        font-size: 1.5rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_direccion{
        font-family: "Alice";
        font-size: 1.2rem;
    }

    .cont-footer_contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_titulo-contacto{
        font-size: 1.438rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_whatsapp-mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .cont-footer_whatsapp{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_mail{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_redes-sociales{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 12.5px;
    }

    .logo-instagram-footer{
        width: 39px;    
        height: 39px;
    }

    .logo-facebook-footer{
        width: 39px;    
        height: 39px;
    }

}

/*Propiedades*/

*{
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/*HEADER*/

.logo{
    width: 60px;
    height: 60px;
}

.menu{
    flex-grow: 0;
}

.menu-nav{
    gap: 40px;
    font-family: "Alice";
    font-style: none;
}

.titulo-link{
    color: black;
    font-size: 1rem;
}

.navbar{
    padding: 0px;
    height: 4.5rem;
    width: 100%;
}

/*MAIN*/

.cont-principal{
    width: 100%;
    height: 650px;
    background: url(../img/imagen\ principal.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.cont-principal_texto{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
    font-style: italic;
}

/*PROPIEDADES*/

.titulo-propiedades{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    font-family: 'Alice';
    margin-top: 150px;
}

.propiedades_cont1{
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.propiedades_cont2{
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 100px;
}

.propiedades_trajetas-props{
    border: 1.5px;
    border-style: solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.propiedades_imagenes{
    width: 425px;
    height: 340px;
    border-radius: 12px;
}

.propiedades_caractetisticas{
    font-size: 1.125rem;
    font-family: 'Alice';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.propiedades_ambientes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.propiedades_iconos-cama{
    width: 40px;
    height: 40px;
}

.propiedades_iconos-baño{
    width: 38px;
    height: 38px;
}

.propiedades_iconos-garage{
    width: 36px;
    height: 36px;
}


/*FOOTER*/

.cont-footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #eb9782;
}

.cont-footer_barra-nav{
    font-size: 1.5rem;
    font-family: 'Alice';
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal-direccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal{
    font-size: 1.5rem;
    font-family: 'Alice';
}

.cont-footer_direccion{
    font-family: "Alice";
    font-size: 1.2rem;
}

.cont-footer_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_titulo-contacto{
    font-size: 1.438rem;
    font-family: 'Alice';
}

.cont-footer_whatsapp-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cont-footer_whatsapp{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_mail{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_redes-sociales{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12.5px;
}

.logo-instagram-footer{
    width: 39px;    
    height: 39px;
}

.logo-facebook-footer{
    width: 39px;    
    height: 39px;
}


/*Media Queries -Mobile-*/

@media (max-width: 768px){

/*HEADER*/

.header-nav-bar{
    width: 768px;
    }

    .navbar{
        padding: 0px;
    }

    .container-fluid{
        padding: 0;
    }

    .logo{
        width: 60px;
        height: 60px;
    }

    .hambur-boton{
        background-color: #eb9782;
    }
    
    .menu{
        flex-grow: 0;
    }
    
    .menu-nav{
        gap: 2px;
        font-family: "Alice";
        font-style: none;
        text-align: center;
        background-color: white;
        width: 768px;
    }
    
    .titulo-link{
        color: black;
        font-size: 1rem;
    }

    /*MAIN*/

    .prop-main{
        background-color: rgb(241, 241, 241);
        width: 768px;
    }

    .cont-principal{
        width: 768px;
        height: 850px;
        background: url(../img/imagen\ principal.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    .cont-principal_texto{
        color: white;
        text-align: center;
        margin-top: 100px;
    }

    h1{
        font-size: 3rem;
        font-style: italic;
    }

    /*PROPIEDADES*/

    .titulo-propiedades{
        padding-bottom: 3rem;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        text-decoration: underline;
        font-family: 'Alice';
    }

    .propiedades{
        width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .propiedades_cont1{
        width: 100vw;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .propiedades_cont2{
        width: 100vw;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .propiedades_trajetas-props{
        border: 1.5px;
        border-style: solid;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
    }

    .propiedades_imagenes{
        width: 200px;
        height: 150px;
        border-radius: 10px;
    }

    .propiedades_caractetisticas{
        font-size: 1rem;
        font-family: 'Alice';
        margin-right: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .propiedades_ambientes{
        display: flex;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    .propiedades_iconos-cama{
        width: 26px;
        height: 26px;
    }

    .propiedades_iconos-baño{
        width: 24px;
        height: 24px;
    }

    .propiedades_iconos-garage{
        width: 22px;
        height: 22px;
    }

    /*FOOTER*/

    .cont-footer{
        width: 768px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #eb9782;
        gap: 20px;
    }

    .cont-footer_barra-nav{
        display: none;
    }

    .cont-footer_sucursal-direccion{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_sucursal{
        font-size: 1.5rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_direccion{
        font-family: "Alice";
        font-size: 1.2rem;
    }

    .cont-footer_contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_titulo-contacto{
        font-size: 1.438rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_whatsapp-mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .cont-footer_whatsapp{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_mail{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_redes-sociales{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 12.5px;
    }

    .logo-instagram-footer{
        width: 39px;    
        height: 39px;
    }

    .logo-facebook-footer{
        width: 39px;    
        height: 39px;
    }


}

/*Contacto*/

*{
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/*HEADER*/

.logo{
    width: 60px;
    height: 60px;
}

.menu{
    flex-grow: 0;
}

.menu-nav{
    gap: 40px;
    font-family: "Alice";
    font-style: none;
}

.titulo-link{
    color: black;
    font-size: 1rem;
}

.navbar{
    padding: 0px;
    height: 4.5rem;
    width: 100%;
}

/*MAIN*/

.cont-principal{
    width: 100%;
    height: 650px;
    background: url(../img/imagen\ principal.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.cont-principal_texto{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
    font-style: italic;
}

/* Contacto */

.titulo-contacto{
    font-size: 3rem;
    font-family: 'Alice';
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    margin-top: 150px;
}

.contacto-formulario{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 60px 60px;
    gap: 20px;
}

.contacto-formulario_nombre{
    width: 658px;
    height: 66px;
    font-family: 'Alice';
    grid-column: 2;
    grid-row: 1;
    border-radius: 5px;
}

.contacto-formulario_apellido{
    width: 658px;
    height: 66px;
    font-family: 'Alice';
    grid-column: 2;
    grid-row: 2;
    border-radius: 5px;
}

.contacto-formulario_email{
    width: 658px;
    height: 66px;
    font-family: 'Alice';
    grid-column: 2;
    grid-row: 3;
    border-radius: 5px;
}

.contacto-formulario_telefono{
    width: 658px;
    height: 66px;
    font-family: 'Alice';
    grid-column: 2;
    grid-row: 4;
    border-radius: 5px;
}

.contacto-formulario_mensaje{
    width: 672px;
    height: 306px;
    font-family: 'Alice';
    grid-column: 3;
    border-radius: 5px;
}

.contacto-formulario_cont-boton{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.contacto-formulario_boton-enviar{
    margin-top: 50px;
    align-items: center;
    width: 70px;
    height: 25px;
}

/*FOOTER*/

.cont-footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #eb9782;
}

.cont-footer_barra-nav{
    font-size: 1.5rem;
    font-family: 'Alice';
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal-direccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal{
    font-size: 1.5rem;
    font-family: 'Alice';
}

.cont-footer_direccion{
    font-family: "Alice";
    font-size: 1.2rem;
}

.cont-footer_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_titulo-contacto{
    font-size: 1.438rem;
    font-family: 'Alice';
}

.cont-footer_whatsapp-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cont-footer_whatsapp{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_mail{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_redes-sociales{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12.5px;
}

.logo-instagram-footer{
    width: 39px;    
    height: 39px;
}

.logo-facebook-footer{
    width: 39px;    
    height: 39px;
}


/*Media Queries -Mobile-*/

@media (max-width: 768px){

/*HEADER*/

.header-nav-bar{
    width: 768px;
    }

    .navbar{
        padding: 0px;
    }

    .container-fluid{
        padding: 0;
    }

    .logo{
        width: 60px;
        height: 60px;
    }

    .hambur-boton{
        background-color: #eb9782;
    }
    
    .menu{
        flex-grow: 0;
    }
    
    .menu-nav{
        gap: 2px;
        font-family: "Alice";
        font-style: none;
        text-align: center;
        background-color: white;
        width: 768px;
    }
    
    .titulo-link{
        color: black;
        font-size: 1rem;
    }

    /*MAIN*/

    .prop-main{
        background-color: rgb(241, 241, 241);
        width: 768px;
    }

    .cont-principal{
        width: 768px;
        height: 850px;
        background: url(../img/imagen\ principal.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    .cont-principal_texto{
        color: white;
        text-align: center;
        margin-top: 100px;
    }

    h1{
        font-size: 3rem;
        font-style: italic;
    }

    /* Contacto */

    .titulo-contacto{
        font-size: 3rem;
        font-family: 'Alice';
        text-transform: uppercase;
        text-align: center;
        text-decoration: underline;
        margin-top: 150px;
    }

    .contacto{
        width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacto-formulario{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contacto-formulario_nombre{
        width: 600px;
        height: 66px;
        font-family: 'Alice';
        grid-column: 2;
        grid-row: 1;
        border-radius: 5px;
    }

    .contacto-formulario_apellido{
        width: 600px;
        height: 66px;
        font-family: 'Alice';
        grid-column: 2;
        grid-row: 2;
        border-radius: 5px;
    }

    .contacto-formulario_email{
        width: 600px;
        height: 66px;
        font-family: 'Alice';
        grid-column: 2;
        grid-row: 3;
        border-radius: 5px;
    }

    .contacto-formulario_telefono{
        width: 600px;
        height: 66px;
        font-family: 'Alice';
        grid-column: 2;
        grid-row: 4;
        border-radius: 5px;
    }

    .contacto-formulario_mensaje{
        width: 600px;
        height: 306px;
        font-family: 'Alice';
        grid-column: 3;
        border-radius: 5px;
    }

    .contacto-formulario_cont-boton{
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }

    .contacto-formulario_boton-enviar{
        margin-top: 50px;
        align-items: center;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        background-color: #eb9782;
        font-size: 1.2rem;
    }


    /*FOOTER*/

    .cont-footer{
        width: 768px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #eb9782;
        gap: 20px;
    }

    .cont-footer_barra-nav{
        display: none;
    }

    .cont-footer_sucursal-direccion{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_sucursal{
        font-size: 1.5rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_direccion{
        font-family: "Alice";
        font-size: 1.2rem;
    }

    .cont-footer_contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_titulo-contacto{
        font-size: 1.438rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_whatsapp-mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .cont-footer_whatsapp{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_mail{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_redes-sociales{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 12.5px;
    }

    .logo-instagram-footer{
        width: 39px;    
        height: 39px;
    }

    .logo-facebook-footer{
        width: 39px;    
        height: 39px;
    }
}

/*Nosotros*/

*{
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/*HEADER*/

.logo{
    width: 60px;
    height: 60px;
}

.menu{
    flex-grow: 0;
}

.menu-nav{
    gap: 40px;
    font-family: "Alice";
    font-style: none;
}

.titulo-link{
    color: black;
    font-size: 1rem;
}

.navbar{
    padding: 0px;
    height: 4.5rem;
    width: 100%;
}

/*MAIN*/

.cont-principal{
    width: 100%;
    height: 650px;
    background: url(../img/imagen\ principal.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.cont-principal_texto{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
    font-style: italic;
}

/*NOSOTROS*/

.seccion-nosotros{
    display: flex;
    width: 100vw;
    height: 700px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.seccion-nosotros_imagen{
    width: 490px;
    height: 490px;
    border-radius: 54px;
}

.seccion-nosotros_cont-informacion{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 35px;
}

.seccion-nosotros_titulo{
    font-size: 1.875rem;
    font-family: 'Alice';
    text-decoration: underline;
    text-align: center;
}

.seccion-nosotros_parrafo{
    font-size: 1.625rem;
    font-family: 'Alice';
}

/*EQUIPO*/

.seccion-equipo{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.seccion-equipo_titulo{
    font-size: 2rem;
    font-family: 'Alice';
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
}

.seccion-equipo_cont-imagenes{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.seccion-equipo_fundador{
    font-size: 1.125rem;
    font-family: 'Alice';
    text-decoration: underline;
}

.seccion-equipo_corredor{
    font-size: 1.125rem;
    font-family: 'Alice';
    text-decoration: underline;
}

.seccion-equipo_fotografa{
    font-size: 1.125rem;
    font-family: 'Alice';
    text-decoration: underline;
}


/*FOOTER*/

.cont-footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #eb9782;
}

.cont-footer_barra-nav{
    font-size: 1.5rem;
    font-family: 'Alice';
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal-direccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal{
    font-size: 1.5rem;
    font-family: 'Alice';
}

.cont-footer_direccion{
    font-family: "Alice";
    font-size: 1.2rem;
}

.cont-footer_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_titulo-contacto{
    font-size: 1.438rem;
    font-family: 'Alice';
}

.cont-footer_whatsapp-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cont-footer_whatsapp{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_mail{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_redes-sociales{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12.5px;
}

.logo-instagram-footer{
    width: 39px;    
    height: 39px;
}

.logo-facebook-footer{
    width: 39px;    
    height: 39px;
}


/*Media Queries -Mobile-*/

@media (max-width: 768px){

/*HEADER*/

.header-nav-bar{
    width: 768px;
    }

    .navbar{
        padding: 0px;
    }

    .container-fluid{
        padding: 0;
    }

    .logo{
        width: 60px;
        height: 60px;
    }

    .hambur-boton{
        background-color: #eb9782;
    }
    
    .menu{
        flex-grow: 0;
    }
    
    .menu-nav{
        gap: 2px;
        font-family: "Alice";
        font-style: none;
        text-align: center;
        background-color: white;
        width: 768px;
    }
    
    .titulo-link{
        color: black;
        font-size: 1rem;
    }

    /*MAIN*/ 

    .prop-main{
        background-color: rgb(241, 241, 241);
        width: 768px;
    }

    .cont-principal{
        width: 768px;
        height: 850px;
        background: url(../img/imagen\ principal.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    .cont-principal_texto{
        color: white;
        text-align: center;
        margin-top: 100px;
    }

    h1{
        font-size: 3rem;
        font-style: italic;
    }

    /*NOSOTROS*/

    .seccion-nosotros{
        width: 768px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding-top: 50px;
    }

    .seccion-nosotros_imagen{
        width: 350px;
        height: 350px;
        border-radius: 25px;
    }

    .seccion-nosotros_cont-informacion{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 500px;
        gap: 20px;
        padding-bottom: 50px;
    }

    .seccion-nosotros_titulo{
        font-size: 2.5rem;
        font-family: 'Alice';
        text-decoration: underline;
        text-align: center;
    }

    .seccion-nosotros_parrafo{
        font-size: 1.3rem;
        font-family: 'Alice';
        text-align: center;
    }

    /*EQUIPO*/

    .seccion-equipo{
    display: none;
    }

    /*FOOTER*/

    .cont-footer{
        width: 768px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #eb9782;
        gap: 20px;
    }

    .cont-footer_barra-nav{
        display: none;
    }

    .cont-footer_sucursal-direccion{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_sucursal{
        font-size: 1.5rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_direccion{
        font-family: "Alice";
        font-size: 1.2rem;
    }

    .cont-footer_contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_titulo-contacto{
        font-size: 1.438rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_whatsapp-mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .cont-footer_whatsapp{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_mail{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_redes-sociales{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 12.5px;
    }

    .logo-instagram-footer{
        width: 39px;    
        height: 39px;
    }

    .logo-facebook-footer{
        width: 39px;    
        height: 39px;
    }

}