*{
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: black;
}

/*HEADER*/

.logo{
    width: 60px;
    height: 60px;
}

.menu{
    flex-grow: 0;
}

.menu-nav{
    gap: 40px;
    font-family: "Alice";
    font-style: none;
}

.titulo-link{
    color: black;
    font-size: 1rem;
}

.navbar{
    padding: 0px;
    height: 4.5rem;
    width: 100%;
}

/*MAIN*/

.prop-main{
    background-color: rgb(241, 241, 241);
}

.cont-principal{
    width: 100%;
    height: 650px;
    background: url(../img/imagen\ principal.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.cont-principal_texto{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size:  1.5rem;
    font-style: italic;
}


/*RECIENTES-INICIO*/

.titulo-recientes{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Alice';
    margin-top: 100px;
}

.propiedades-recientes{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.propiedades-recientes_casa{
    width: 300px;
    height: 360px;
    border: 1.5px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.propiedades-recientes_dpto{
    width: 300px;
    height: 360px;
    border: 1.5px;
    border-style: solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.propiedades-recientes_quinta{
    width: 300px;
    height: 360px;
    border: 1.5px;
    border-style: solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.propiedades-recientes_prop-inicio{
    width: 298px;
    height: 200px;
    border-radius: 10px;
}

.propiedades-recientes_caract-recientes{
    width: 100%;
    font-size: 1rem;
    font-family: 'Alice';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.propiedades-recientes_ambientes-recientes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.propiedades-recientes_icono-habitacion{
    width: 32px;
    height: 32px;
}

.propiedades-recientes_icono-baño{
    width: 30px;
    height: 30px;
}

.propiedades-recientes_icono-garage{
    width: 28px;
    height: 28px;
}

/*DIVISION*/

.division-inicio{
    height: 0.75px;
    background-color: black;
    border-color: black;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

/*NOSOTROS-INICIO*/


.seccion-nosotros{
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
}

.seccion-nosotros_cont-imagen{
    display: flex;
    align-items: center;
}

.seccion-nosotros_imagen{
    width: 450px;
    height: 350px;
    border-radius: 15px;
}

.seccion-nosotros_titulo-boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.seccion-nosotros_titulo{
    font-size: 1.4rem;
    font-family: 'Alice';
}

.seccion-nosotros_boton{
    display: flex;
    justify-content: center;
}

.seccion-nosotros_boton-sumate{
    border-radius: 3px;
    font-family: 'Alice';
    width: 80px;
    height: 30px;
    background-color: #eb9782;
}

/*FOOTER*/

.cont-footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #eb9782;
}

.cont-footer_barra-nav{
    font-size: 1.5rem;
    font-family: 'Alice';
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal-direccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal{
    font-size: 1.5rem;
    font-family: 'Alice';
}

.cont-footer_direccion{
    font-family: "Alice";
    font-size: 1.2rem;
}

.cont-footer_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_titulo-contacto{
    font-size: 1.438rem;
    font-family: 'Alice';
}

.cont-footer_whatsapp-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cont-footer_whatsapp{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_mail{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_redes-sociales{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12.5px;
}

.logo-instagram-footer{
    width: 39px;    
    height: 39px;
}

.logo-facebook-footer{
    width: 39px;    
    height: 39px;
}



/*Media Queries -Mobile-*/

@media (max-width: 768px){

    /*HEADER*/
    .header-nav-bar{
    width: 768px;
    }

    .navbar{
        padding: 0px;
    }

    .logo{
        width: 60px;
        height: 60px;
    }

    .hambur-boton{
        background-color: #eb9782;
    }
    
    .menu{
        flex-grow: 0;
    }
    
    .menu-nav{
        gap: 2px;
        font-family: "Alice";
        font-style: none;
    }
    
    .titulo-link{
        color: black;
        font-size: 1rem;
    }

    /*MAIN*/

    .prop-main{
        background-color: rgb(241, 241, 241);
        width: 768px;
    }

    .cont-principal{
        width: 100%;
        height: 850px;
        background: url(../img/imagen\ principal.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    .cont-principal_texto{
        color: white;
        text-align: center;
        margin-top: 100px;
    }

    h1{
        font-size: 3rem;
        font-style: italic;
    }

    /*RECIENTES-INICIO*/

    .titulo-recientes{
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        font-family: 'Alice';
        margin-top: 50px;
    }

    .propiedades-recientes{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .propiedades-recientes_casa{
        border: 1.5px;
        border-style: solid;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
    }

    .propiedades-recientes_dpto{
        border: 1.5px;
        border-style: solid;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
    }

    .propiedades-recientes_quinta{
        border: 1.5px;
        border-style: solid;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
    }

    .propiedades-recientes_prop-inicio{
        width: 200px;
        height: 150px;
        border-radius: 10px;
    }

    .propiedades-recientes_caract-recientes{
        font-size: 1rem;
        font-family: 'Alice';
        margin-right: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .propiedades-recientes_ambientes-recientes{
        display: flex;
        justify-content: space-evenly;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .propiedades-recientes_icono-habitacion{
        width: 26px;
        height: 26px;
    }

    .propiedades-recientes_icono-baño{
        width: 24px;
        height: 24px;
    }

    .propiedades-recientes_icono-garage{
        width: 22px;
        height: 22px;
    }

    /*DIVISION*/

    .division-inicio{
        height: 0.75px;
        background-color: black;
        border-color: black;
        border-radius: 10px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
    }

    /*NOSOTROS-INICIO*/

    .seccion-nosotros{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
    }

    .seccion-nosotros_imagen{
        display: none;
    }

    .seccion-nosotros_titulo-boton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .seccion-nosotros_titulo{
        font-size: 2.1rem;
        font-family: 'Alice';
    }

    .seccion-nosotros_boton{
        display: flex;
        justify-content: center;
    }

    .seccion-nosotros_boton-sumate{
        border-radius:  15px;
        font-family: 'Alice';
        width: 100px;
        height: 40px;
        background-color: #eb9782;
    }

    /*FOOTER*/

    .cont-footer{
        width: 768px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #eb9782;
        gap: 20px;
    }

    .cont-footer_barra-nav{
        display: none;
    }

    .cont-footer_sucursal-direccion{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_sucursal{
        font-size: 1.5rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_direccion{
        font-family: "Alice";
        font-size: 1.2rem;
    }

    .cont-footer_contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_titulo-contacto{
        font-size: 1.438rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_whatsapp-mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .cont-footer_whatsapp{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_mail{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_redes-sociales{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 12.5px;
    }

    .logo-instagram-footer{
        width: 39px;    
        height: 39px;
    }

    .logo-facebook-footer{
        width: 39px;    
        height: 39px;
    }

}