*{
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/*HEADER*/

.logo{
    width: 80px;
    height: 80px;
}

.menu{
    flex-grow: 0;
}

.menu-nav{
    gap: 50px;
    font-family: "Alice";
    font-style: none;
}

.titulo-link{
    color: black;
    font-size: 1.3rem;
}


/*MAIN*/

.cont-principal{
    width: 100vw;
    height: 850px;
    background: url(../img/imagen\ principal.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.cont-principal_texto{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
    font-style: italic;
}

/*NOSOTROS*/

.seccion-nosotros{
    display: flex;
    width: 100vw;
    height: 700px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.seccion-nosotros_imagen{
    width: 490px;
    height: 490px;
    border-radius: 54px;
}

.seccion-nosotros_cont-informacion{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 35px;
}

.seccion-nosotros_titulo{
    font-size: 1.875rem;
    font-family: 'Alice';
    text-decoration: underline;
    text-align: center;
}

.seccion-nosotros_parrafo{
    font-size: 1.625rem;
    font-family: 'Alice';
}

/*EQUIPO*/

.seccion-equipo{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.seccion-equipo_titulo{
    font-size: 2rem;
    font-family: 'Alice';
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
}

.seccion-equipo_cont-imagenes{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.seccion-equipo_fundador{
    font-size: 1.125rem;
    font-family: 'Alice';
    text-decoration: underline;
}

.seccion-equipo_corredor{
    font-size: 1.125rem;
    font-family: 'Alice';
    text-decoration: underline;
}

.seccion-equipo_fotografa{
    font-size: 1.125rem;
    font-family: 'Alice';
    text-decoration: underline;
}


/*FOOTER*/

.cont-footer{
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #eb9782;
}
.cont-footer_barra-nav{
    font-size: 1.5rem;
    font-family: 'Alice';
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal-direccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_sucursal{
    font-size: 1.5rem;
    font-family: 'Alice';
}

.cont-footer_direccion{
    font-family: "Alice";
    font-size: 1.2rem;
}

.cont-footer_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

.cont-footer_titulo-contacto{
    font-size: 1.438rem;
    font-family: 'Alice';
}

.cont-footer_whatsapp-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cont-footer_whatsapp{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_mail{
    font-size: 1.2rem;
    font-family: 'Alice';
}

.cont-footer_redes-sociales{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12.5px;
}

.logo-instagram-footer{
    width: 39px;    
    height: 39px;
}

.logo-facebook-footer{
    width: 39px;    
    height: 39px;
}


/*Media Queries -Mobile-*/

@media (max-width: 768px){

    /*HEADER*/
    .header-nav-bar{
    height: 5rem;
    width: 768px;
    }

    .logo{
        width: 60px;
        height: 60px;
    }

    .hambur-boton{
        background-color: #eb9782;
    }
    
    .menu{
        flex-grow: 0;
    }
    
    .menu-nav{
        gap: 2px;
        font-family: "Alice";
        font-style: none;
    }
    
    .titulo-link{
        color: black;
        font-size: 1rem;
    }

    /*MAIN*/

    .prop-main{
        background-color: rgb(241, 241, 241);
        width: 768px;
    }

    .cont-principal{
        width: 768px;
        height: 850px;
        background: url(/img/imagen\ principal.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    .cont-principal_texto{
        color: white;
        text-align: center;
        margin-top: 100px;
    }

    h1{
        font-size: 3rem;
        font-style: italic;
    }

    /*NOSOTROS*/

    .seccion-nosotros{
        width: 768px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        padding-top: 50px;
    }

    .seccion-nosotros_imagen{
        width: 350px;
        height: 350px;
        border-radius: 25px;
    }

    .seccion-nosotros_cont-informacion{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 500px;
        gap: 20px;
        padding-bottom: 50px;
    }

    .seccion-nosotros_titulo{
        font-size: 2.5rem;
        font-family: 'Alice';
        text-decoration: underline;
        text-align: center;
    }

    .seccion-nosotros_parrafo{
        font-size: 1.3rem;
        font-family: 'Alice';
    }

    /*EQUIPO*/

    .seccion-equipo{
    display: none;
    }

    /*FOOTER*/

    .cont-footer{
        width: 768px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #eb9782;
        gap: 20px;
    }

    .cont-footer_barra-nav{
        display: none;
    }

    .cont-footer_sucursal-direccion{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_sucursal{
        font-size: 1.5rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_direccion{
        font-family: "Alice";
        font-size: 1.2rem;
    }

    .cont-footer_contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12.5px;
    }

    .cont-footer_titulo-contacto{
        font-size: 1.438rem;
        font-family: 'Alice';
        font-weight: 1000;
    }

    .cont-footer_whatsapp-mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .cont-footer_whatsapp{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_mail{
        font-size: 1.2rem;
        font-family: 'Alice';
    }

    .cont-footer_redes-sociales{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 12.5px;
    }

    .logo-instagram-footer{
        width: 39px;    
        height: 39px;
    }

    .logo-facebook-footer{
        width: 39px;    
        height: 39px;
    }


}