@media (max-width: 768px){
    .titulo-propiedades{
        font-size: 2rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Alice';
    }
    
    .propiedades{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .propiedades_cont1{
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            .propiedades_tarjetas-props{
                width: 200px;
                height: 300px;
                border: 1.5px;
                border-style: solid;
                border-radius: 12px;
                box-shadow: 0.4rem 0.4rem 0.7rem;
                display: flex;
                flex-direction: column;
                .propiedades_imagenes{
                    width: 198px;
                    height: 150px;
                    border-radius: 10px;
                }
                .propiedades_caracteristicas{
                    font-size: 1rem;
                    font-family: 'Alice';
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .propiedades_ambientes{
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 15px;
                    .propiedades_iconos-cama{
                        width: 26px;
                        height: 26px;
                    }
                    .propiedades_iconos-baño{
                        width: 24px;
                        height: 24px;
                    }
                    .propiedades_iconos-garage{
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
        .propiedades_cont2{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            .propiedades_tarjetas-props{
                width: 200px;
                height: 300px;
                border: 1.5px;
                border-style: solid;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                .propiedades_imagenes{
                    width: 198px;
                    height: 150px;
                    border-radius: 10px;
                }
                .propiedades_caracteristicas{
                    font-size: 1rem;
                    font-family: 'Alice';
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .propiedades_ambientes{
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 15px;
                    .propiedades_iconos-cama{
                        width: 26px;
                        height: 26px;
                    }
                    .propiedades_iconos-baño{
                        width: 24px;
                        height: 24px;
                    }
                    .propiedades_iconos-garage{
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }
}