@media (max-width: 1024px){
    .servicios_titulo{
        font-size: 2.8rem;
        margin-top: 5rem;
        margin-bottom: 4rem;
        text-transform: uppercase;
        font-family: 'Alice';
    }
    
    section{
        width: 100%;
        @include flex(row, center, center);
        padding-bottom: 100px;
        .servicios_subtitulos-parrafos{
            width: 720px;
            @include flex(column, none, center);
            gap: 1rem;
            .servicios_subtitulos{
                font-size: 1.5rem;
                text-align: center;
                font-family: 'Alice';
                font-weight: 800;
            }
            .servicios_parrafos{
                font-size: 1.1rem;
                text-align: center;
                font-family: 'Alice';
            }
        }
    }
    
}