@media (max-width: 1024px){
    .titulo-contacto{
        font-size: 2.8rem;
        margin-top: 5rem;
        margin-bottom: 4rem;
        font-family: 'Alice';
        text-transform: uppercase;
        text-align: center;
    }
    
    .contacto{
        width: 100%;
        @include flex(column, none, center);
        .contacto-formulario{
            margin-top: 40px;
            @include flex(column, none, center);
            gap: 20px;
        }
            .contacto-formulario_nombre{
                width: 550px;
                height: 66px;
                font-family: 'Alice';
                grid-column: 2;
                grid-row: 1;
                border-radius: 5px;
            }
            .contacto-formulario_apellido{
                width: 550px;
                height: 66px;
                font-family: 'Alice';
                grid-column: 2;
                grid-row: 2;
                border-radius: 5px;
            }
            .contacto-formulario_email{
                width: 550px;
                height: 66px;
                font-family: 'Alice';
                grid-column: 2;
                grid-row: 3;
                border-radius: 5px;
            }
            .contacto-formulario_telefono{
                width: 550px;
                height: 66px;
                font-family: 'Alice';
                grid-column: 2;
                grid-row: 4;
                border-radius: 5px;
            }
            .contacto-formulario_mensaje{
                width: 550px;
                height: 306px;
                font-family: 'Alice';
                grid-column: 3;
                border-radius: 5px;
            }
        .contacto-formulario_cont-boton{
            display: flex;
            justify-content: center;
            padding-bottom: 100px;
            .contacto-formulario_boton-enviar{
                margin-top: 50px;
                align-items: center;
                width: 95px;
                height: 40px;
                border-radius: 7px;
                box-shadow: inset -1.5px -1.5px 3px 0 #111;
                background-color: $color-primario;
            }
        }
    }
}