@media (max-width: 1024px){
    footer{
        width: 100%;
        height: auto;
        @include flex(column, space-around, none);
        background-color: $color-primario;
        gap: 20px;
        .cont-footer_barra-nav{
            display: none;
        }
        .cont-footer_sucursal-direccion{
            padding-top: 20px;
            @include flex(column, center, center);
            gap: 12.5px;
            .cont-footer_sucursal{
                font-size: 1.5rem;
                font-family: 'Alice';
                font-weight: 1000;
            }
            .cont-footer_direccion{
                font-family: "Alice";
                font-size: 1.2rem;
            }
        }
        .cont-footer_contacto{
            @include flex(column, center, center);
            gap: 12.5px;
            .cont-footer_titulo-contacto{
                font-size: 1.438rem;
                font-family: 'Alice';
                font-weight: 1000;
            }
            .cont-footer_whatsapp-mail{
                @include flex(column, none, center);
                gap: 5px;
                .cont-footer_whatsapp{
                    font-size: 1.2rem;
                    font-family: 'Alice';
                }
                .cont-footer_mail{
                    font-size: 1.2rem;
                    font-family: 'Alice';
                }
            }
        }
        .cont-footer_redes-sociales{
            padding-bottom: 20px;
            @include flex(column, space-evenly, center);
            gap: 12.5px;
            .logo-instagram-footer{
                width: 39px;    
                height: 39px;
            }
            .logo-facebook-footer{
                width: 39px;    
                height: 39px;
            }
        }
    }
}