header{
    nav{
        padding: 0;
        height: 4.5rem;
        width: 100%;
        .menu{
            flex-grow: 0;
        }
        div{
            a{
                img{
                    width: 60px;
                    height: 60px;
                }
            }
            div{
                font-family: "Alice";
                .menu-nav{
                    font-style: none;
                }
                ul{
                    gap: 40px;
                    color: black;
                    li{
                        .titulo-link{
                            color: black;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

