.titulo-propiedades{
    font-size: 2.8rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Alice';
}

.propiedades{
    display: flex;
    flex-direction: column;
    gap: 50px;
    .propiedades_cont1{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        .propiedades_tarjetas-props{
            width: 250px;
            height: 340px;
            border: 1.5px;
            border-style: solid;
            border-radius: 12px;
            box-shadow: 0.6rem 0.6rem 1rem;
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.47);
            .propiedades_imagenes{
                width: 248px;
                height: 340px;
                border-radius: 12px;
            }
            .propiedades_caracteristicas{
                font-size: 1rem;
                font-family: 'Alice';
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .propiedades_ambientes{
                display: flex;
                justify-content: space-evenly;
                margin-top: 15px;
                .propiedades_iconos-cama{
                    width: 32px;
                    height: 32px;
                }
                .propiedades_iconos-baño{
                    width: 30px;
                    height: 30px;
                }
                .propiedades_iconos-garage{
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
    .propiedades_cont2{
        width: 100%;
        height: 500px;
        padding-bottom: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        .propiedades_tarjetas-props{
            width: 250px;
            height: 340px;
            border: 1.5px;
            border-style: solid;
            border-radius: 12px;
            box-shadow: 0.6rem 0.6rem 1rem;
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.47);
            .propiedades_imagenes{
                width: 248px;
                height: 340px;
                border-radius: 12px;
            }
            .propiedades_caracteristicas{
                font-size: 1rem;
                font-family: 'Alice';
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .propiedades_ambientes{
                display: flex;
                justify-content: space-evenly;
                margin-top: 15px;
                .propiedades_iconos-cama{
                    width: 32px;
                    height: 32px;
                }
                .propiedades_iconos-baño{
                    width: 30px;
                    height: 30px;
                }
                .propiedades_iconos-garage{
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}