.seccion-nosotros{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    .seccion-nosotros_cont-imagen{
        display: flex;
        align-items: center;
        .seccion-nosotros_imagen{
            width: 450px;
            height: 300px;
            border-radius: 15px;
            box-shadow: 0.4rem 0.4rem 0.8rem;
        }
    }
    .seccion-nosotros_titulo-boton{
        @include flex(column, center, none);
        gap: 20px;
        .seccion-nostros_titulo{
            font-size: 1.4rem;
            font-family: 'Alice';
        }
        .seccion-nosotros_boton{
            @include flex(row, center, none);
            .seccion-nosotros_boton-sumate{
                font-family: 'Alice';
                width: 90px;
                height: 45px;
                border-radius: 7px;
                box-shadow: inset -1.5px -1.5px 3px 0 #111;
                background-color: $color-primario;
            }
        }
    }
}