/*Prop-Recientes*/
.titulo-recientes{
    font-size: 2.8rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Alice";
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.propiedades-recientes{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    .propiedades-recientes_props{
        width: 250px;
        height: 340px;
        border: 1.5px;
        border-style: solid;
        border-radius: 10px;
        box-shadow: 0.6rem 0.6rem 1rem;
        display: flex;
        flex-direction: column;
        .propiedades-recientes_prop-img{
            width: 248px;
            height: 200px;
            border-radius: 10px;
        }
        .propiedades-recientes_caract-recientes{
            width: 100%;
            font-size: 1rem;
            font-family: 'Alice';
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .propiedades-recientes_ambientes-recientes{
            display: flex;
            justify-content: space-evenly;
            margin-top: 15px;
            .propiedades-recientes_icono-habitacion{
                width: 32px;
                height: 32px;
            }
            .propiedades-recientes_icono-baño{
                width: 30px;
                height: 30px;
            }
            .propiedades-recientes_icono-garage{
                width: 28px;
                height: 28px;
            }
        }
    }
}