.page-seccion-nosotros{
    display: flex;
    width: 100vw;
    height: 700px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    .page-seccion-nosotros_cont-imagen{
        .page-seccion-nosotros_img{
            width: 490px;
            height: 490px;
            border-radius: 54px;
        }
    }
    .page-seccion-nosotros_cont-informacion{
        display: flex;
        flex-direction: column;
        width: 600px;
        gap: 35px;
        .page-seccion-nosotros_titulo{
            font-size: 1.875rem;
            font-family: 'Alice';
            text-decoration: underline;
            text-align: center;
        }
        .page-seccion-nosotros_parrafo{
            font-size: 1.625rem;
            font-family: 'Alice';
        }
    }
}
