@media (max-width: 1024px){
    .seccion-nosotros{
        width: 1024px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        .seccion-nosotros_cont-imagen{
            display: flex;
            align-items: center;
            .seccion-nosotros_imagen{
                display: none;
            }
        }
        .seccion-nosotros_titulo-boton{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            .seccion-nostros_titulo{
                font-size: 2.1rem;
                font-family: 'Alice';
            }
            .seccion-nosotros_boton{
                display: flex;
                justify-content: center;
                .seccion-nosotros_boton-sumate{
                    border-radius:  15px;
                    font-family: 'Alice';
                    width: 100px;
                    height: 40px;
                    background-color: #eb9782;
                }
            }
        }
    }
}
