@media (max-width: 1024px){
    hr{
        height: 0.75px;
        background-color: black;
        border-color: black;
        border-radius: 10px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
    }
}
