@media (max-width: 1024px){
    .seccion-nosotros{
        width: 100%;
        height: 200px;
        @include flex(row, center, center);
        .seccion-nosotros_cont-imagen{
            @include flex(row, none, center);
            .seccion-nosotros_imagen{
                display: none;
            }
        }
        .seccion-nosotros_titulo-boton{
            @include flex(column, center, none);
            gap: 20px;
            .seccion-nostros_titulo{
                font-size: 2.1rem;
                font-family: 'Alice';
            }
            .seccion-nosotros_boton{
                @include flex(row, center, none);
                .seccion-nosotros_boton-sumate{
                    font-family: 'Alice';
                    width: 95px;
                    height: 40px;
                    border-radius: 7px;
                    box-shadow: inset -1.5px -1.5px 3px 0 #111;
                    background-color: $color-primario;
                }
            }
        }
    }
}
