@media (max-width: 768px){
    .servicios_titulo{
        font-size: 2rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Alice';
    }
    
    section{
        width: 100%;
        @include flex(row, center, center);
        padding-bottom: 100px;
        .servicios_subtitulos-parrafos{
            width: 300px;
            @include flex(column, none, center);
            gap: 1rem;
            .servicios_subtitulos{
                font-size: 1.3rem;
                text-align: center;
                font-family: 'Alice';
                font-weight: 800;
            }
            .servicios_parrafos{
                font-size: 1rem;
                text-align: center;
                font-family: 'Alice';
            }
        }
    }
    
}